.Section {
    padding: 20px;
}

.Section .Header {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
}

.ButtonGradient {
    margin-right: 10px !important;
}

.Gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0 solid;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.Gradient:hover {
    box-shadow: inset 5px 3px 10px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}
